<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/sheet.css' %}" />
    <title>Managers</title>
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="logo">
                <a href="#">ArtisManagers.</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    <!-- Default content for the block -->
    <section class="home">
        <h2>Sticky Navigation Bar</h2>
        <div class="text">
            <p>Your default content here...</p>
        </div>
    </section>
    {% endblock content %}

    <script>
        let nav = document.querySelector("nav");
        window.onscroll = function() {
            if(document.documentElement.scrollTop > 20) {
                nav.classList.add("sticky");
            } else {
                nav.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>

