<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Css/sheet.css' %}">
    <title>{% block title %}Managers{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="logo">
                <a href="{% url 'home' %}">ArtisManagers.</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            {% if user.is_authenticated %}
        <li class="nav-links"><a href="{% url 'profile' %}">Profile</a></li>
        <li class="nav-links"><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
    <li class="nav-links"><a href="/accounts/login/">Login</a></li>



    {% endif %}
</ul>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        <!-- Child templates will insert content here -->
         <a href="{% url 'create-profile'%}">Create your Profile</a>
        {% endblock %}
    </div>
</body>
</html>
