{% extends 'base.html' %}





{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Css/profile_edit.css' %}">
<div class="profile-edit-container">
    <h1>Edit Profile</h1>
    <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.first_name.label_tag }} {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.last_name.label_tag }} {{ form.last_name }}
        </div>
        <div class="form-group">
            {{ form.contact_email.label_tag }} {{ form.contact_email }}
        </div>
        <div class="form-group">
            {{ form.specialization.label_tag }} {{ form.specialization }}
        </div>
        <div class="form-group">
            {{ form.bio.label_tag }} {{ form.bio }}
        </div>
        <div class="form-group">
            {{ form.phone.label_tag }} {{ form.phone }}
        </div>
        <div class="form-group">
            {{ form.city.label_tag }} {{ form.city }}
        </div>
        <div class="form-group">
            {{ form.birth_date.label_tag }} {{ form.birth_date }}
            
        </div>
        <div class="form-group">
            {{ form.profile_images.label_tag }} {{ form.profile_images }}
            {% if user_info.profile_images %}
                <img src="{{ user_info.profile_images.url }}" alt="Profile Picture" class="current-avatar">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
{% endblock %}




