{% extends 'navbar.html' %}

{% block content %}
<style>
    body {
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: #0F1819;
        color: white;
      
        background-size: cover;
        background-position: center;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }

    .login-form {
        background-color: #18222D;
        border-radius: 8px;
        padding: 40px 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        max-width: 400px;
        width: 100%;
        margin-right: 50px; /* Add space between image and form */
    }

    .login-form h1 {
        font-size: 24px;
        margin-bottom: 30px;
        color: white;
    }

    .login-form p {
        margin-bottom: 20px;
        color: white;
    }

    .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 50px;
        border: 1px solid #ccc;
        background-color: #27343B;
        color: white;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 50px;
        background-color: #ff3c5f;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .login-form button:hover {
        background-color: #9340ff;
    }

    .login-form .secondary {
        background-color: #ff3c5f;
        margin-top: 10px;
    }

    .login-form .secondary:hover {
        background-color: #ff3c5f;
    }

    .login-alternatives {
        margin-top: 18px;
    }

    .login-form hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        max-width: 600px;
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        .login-container {
            flex-direction: column;
        }

        .login-form {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
</style>

<div class="login-container">
    <div class="image-container">
        {% load static %}
        <img src="{% static 'images/Blue and Pink Music Login Page Desktop Prototype (1).png' %}" alt="Login Image">
    </div>
    <div class="login-form">
        <h1>Login</h1>
        {% if not SOCIALACCOUNT_ONLY %}
            <p>If you don't have an account? <a href="{{ signup_url }}">Sign up</a> first.</p>
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">Login</button>
            </form>
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED %}
            <hr>
            <h2>Mail me a sign-in code</h2>
            <a href="{{ request_login_code_url }}" class="secondary">Request Sign-in Code</a>
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            <div class="login-alternatives">
                {% include "socialaccount/snippets/login.html" %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
