{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    


   
.signup-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    margin: auto;  /* Center horizontally */
}

.form-container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form p label {
    margin-bottom: 5px;
    font-weight: bold;
}

form p input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-login p {
    margin-right: 10px;
}

.social-btn {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
}

.social-btn.facebook {
    background-color: #3b5998;
}

.social-btn.twitter {
    background-color: #1da1f2;
}

.social-btn.google {
    background-color: #db4437;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

</style>
<div class="signup-container">
    <div class="form-container">
        <h2>Sign up</h2>
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Sign up</button>
            <div class="social-login">
                <p>Or login with</p>
                <a href="#" class="social-btn facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-btn twitter"><i class="fab fa-twitter"></i></a>
                <a href="/accounts/google/login/" class="social-btn google"><i class="fab fa-google"></i>G</a>
            </div>
        </form>
        <p class="create-account">Already have an account? <a href="{% url 'account_login' %}">Log in</a></p>
    </div>
</div>
{% endblock %}
